.form-container{
    background-color: #222732;
    border-radius: 0.4rem;
    padding: 0.65rem;
    font-size: 2rem;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: row;
    color: #919191;
    p {
        margin: 0;
        transform: translateY(-4px);
    }
    input {
        flex-grow: 1;
        background-color: transparent;
        outline: none;
        border: none;
        margin-left: 2rem;
        padding: 0;
        font-size: 0.5em;
        color: white;
    }
}