/* You can add global styles to this file, and also import other style files */
body {
    background-color: #0B0E11;
    margin: 0px;
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
}